{
  "$files": {"array":"colors","fileName":"./carpet/from_{{color}}_wool"},
  "$template":{
    "format_version": "1.17.0",
    "minecraft:recipe_shapeless": {
      "description": {"identifier":"dw623:cut_{{color}}_carpet_from_wool"},
      "tags": ["stonecutter"],
      "ingredients": [{"item":"minecraft:{{color}}_wool"}],
      "result": {"item":"minecraft:{{color}}_carpet","count":16}
    }
  }
}