{
  "$copy": "{{getLatestBPFile('entities/villager_v2.json')}}",
  "$template":{
    "minecraft:entity": {

      "component_groups": {"baby":{"minecraft:ageable":{"duration":3600}}},

      "components": {
        "minecraft:breathable": {"total_supply":100,"suffocate_time":0},
        "minecraft:health": {"value":100,"max":100} 
      }
    }
  }
}