{
    "$template": {
        "format_version": "1.21.40",        
        "{{#vanilla_slabs}}": {
            "dw623:vertical_{{identifier}}": {
                "sound": "{{sound}}" 
            }
        }
    }
}