{   
    "$template": {
        "format_version": "1.10.0",
        "minecraft:client_entity": {
            "description": {
                "identifier": "ctd:tree_block_reference_checker",
                "materials": {
                    "default": "entity"
                },
                "textures": {"default":"textures/entity/crash_test_dummy/black_and_yellow"},
                "geometry": {"default":"geometry.entity_box"},
                "render_controllers": ["controller.render.default"]                
            }
        }
    }
}