{
  "$files": {
    "array": "woods",
    "fileName": "./buttons/from_slab_{{value}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {"identifier":"cut:{{value}}_buttons_from_slab"},
      "tags": ["stonecutter"],
      "priority": 0,
      "ingredients":[{"item":"minecraft:{{value}}_slab"}],
      "result": {        
        "item": "minecraft:{value}}_button",
        "count": 16
      }
    }
  }
}