{
 //======================================================================================	
  "$files":{    
  "array": "scales",
  "fileName": "adjacent_minion.{{scale}}.bp"
},
//======================================================================================	
  "$template": {
    "format_version": "1.20.10",
    "minecraft:entity":{
      "description":{
        "identifier": "ctd:adjacent_minion.{{scale}}",
        "is_spawnable": false,
        "is_summonable": true,
        "is_experimental": false
      },
      "component_groups":{
        "cg:despawn":{"minecraft:instant_despawn":{}},
        "cg:transform":{"minecraft:transformation":{"into":"ctd:adjacent_minion.{{next}}"}}

      },
      "components":{
        "minecraft:breathable":{
          "breathes_air": true,
          "breathes_lava": true,
          "breathes_solids": true,
          "breathes_water": true,
          "generates_bubbles": false,
          "inhale_time": 1.0,
          "suffocate_time": 100,
          "total_supply": 100
        },
        "minecraft:collision_box":{"height":"{{=touch}}","width":"{{=touch}}"},
        "minecraft:damage_sensor":{"triggers":{"cause":"all","deals_damage":false}}, 
        "minecraft:physics":{"has_gravity": false,"has_collision": false},
        "minecraft:scale":{"value":"{{=pt}}"},     
        "minecraft:health":{"value":10,"max":10},       
        "minecraft:interact": {
          "interactions":[
            {
              "on_interact": {              
                "filters": { "test": "has_equipment", "subject": "other", "domain": "hand", "value": "arrow"},
                "event":"ev:nudge"
              },
              "swing": true,"use_item": false           
            },          
            {
              "on_interact": {              
                "filters": { "test": "is_sneaking", "subject": "other"},
                "event":"ev:despawn"
              },
              "swing": true,"use_item": false           
            },
            {
              "on_interact": {              
                "filters": { "test": "has_equipment", "subject": "other", "domain": "hand", "value": "stick"},
                "event":"ev:transform"
              },
              "swing": true,"use_item": false           
            },
            {"on_interact":{"event":"ev:test_neighbors"},"swing":true}
          ]
        },
        "minecraft:nameable": {"allow_name_tag_renaming":true,"always_show":true},       
        //"minecraft:timer":{"time":5,"looping":true,"randomInterval":false,"time_down_event":{"event":"ev:align"}},	
        "minecraft:type_family":{"family":["crash_test_dummy","ctd","ctd_minion"]}
      },
      "events":{
        //"minecraft:entity_spawned": {"trigger": "ev:align"},
        "ev:align": {"sequence":[{"run_command":{"command":["execute align xyz run tp @s ~0.5 ~{{align}} ~0.5"]}}]},
        "ev:nudge": {"sequence":[{"run_command":{"command":["say Nudging 0.125","execute align xyz run tp @s ~0.5 ~0.125 ~0.5"]}}]},
        "ev:despawn":{"add":{"component_groups":["cg:despawn"]}},
        "ev:transform":{"add":{"component_groups":["cg:transform"]}},
        //===============================================================
        "ev:test_neighbors":{
          "sequence":[	
            {"trigger": "ev:align"},            				                   
            {
              "run_command": {
                "command": [
                  "tell @p Testing",                  
                  "execute positioned ~-1 ~   ~   run execute if entity @e[family=ctd_minion,r=0.5] run tell @p §cFound CTD Minion @ ~-1 ~ ~ west",
                  "execute positioned ~1  ~   ~   run execute if entity @e[family=ctd_minion,r=0.5] run tell @p §cFound CTD Minion @ ~1 ~ ~  east",
                  "execute positioned ~   ~-1 ~   run execute if entity @e[family=ctd_minion,r=0.5] run tell @p §cFound CTD Minion @ ~ ~-1 ~ down",
                  "execute positioned ~   ~1  ~   run execute if entity @e[family=ctd_minion,r=0.5] run tell @p §cFound CTD Minion @ ~ ~1 ~  up",
                  "execute positioned ~   ~   ~-1 run execute if entity @e[family=ctd_minion,r=0.5] run tell @p §cFound CTD Minion @ ~ ~ ~-1 north",
                  "execute positioned ~   ~   ~1  run execute if entity @e[family=ctd_minion,r=0.5] run tell @p §cFound CTD Minion @ ~ ~ ~1  south"
                  ]
              }
            }
          ]
        }
      }
    }
  }
}