{
	"$scope":{
		"global_leaves3":"{{global_log3.filter(x => x.leaf3_sfx > '')}}",
		"global_leaves3_alt":"{{global_log3.filter(x => x.alt_give_leaf3 > '')}}"
	},
    "$template":{
		"format_version": "1.20.10",
		"minecraft:entity":{
			"description":{
				"identifier": "ctd:tree_block_reference_checker",
				"is_spawnable": false,
				"is_summonable": true,
				"is_experimental": false
				//,"properties":{"bit:in_block":{"type":"bool","default":false}}
			},
			"component_groups":{
				"cg:despawn":{"minecraft:instant_despawn":{}},
				"cg:rescale_bigger":{"minecraft:scale":{"value":1.25}},
				"cg:rescale_smaller":{"minecraft:scale":{"value":0.5}},
				"cg:delay_timer_spawn":{
					"minecraft:timer":{
						"time":0.1,"looping": false,"randomInterval": false,
						"time_down_event":{"event":"minecraft:entity_spawn"}
					}
				}
			},
			"components":{
				"minecraft:breathable":{
					"breathes_air": true,
					"breathes_lava": true,
					"breathes_solids": true,
					"breathes_water": true,
					"generates_bubbles": false,
					"inhale_time": 1.0,
					"suffocate_time": 100,
					"total_supply": 100
				},
				//"minecraft:collision_box":{"height":1,"width":1},
				"minecraft:despawn":{
					"filters":[
						{
							"any_of":[
								{"test":"has_tag","value":"despawn"},
								{ "test": "is_altitude", "operator": "<", "value": 0 }
								//change to 0 for overworld only
							]
						}
					]
				},
				"minecraft:interact": {
					"interactions": [
						{
							"on_interact": {
								"filters":[
									{
										"all_of":[
											{"test":"is_family","subject":"other","value":"player"},
											{"test": "is_sneaking", "subject": "player", "value": false},
											{"test": "in_block","operator":"!=","value": "minecraft:air"}
										]
									}
								],
								"event":"ev:where_am_i"
							},
							"swing": true
						},
						{
							"on_interact": {
								"filters":[
									{
										"all_of":[
											{"test":"is_family","subject":"other","value":"player"},
											{"test": "is_sneaking", "subject": "player", "value": false},
											{"test": "in_block","value": "minecraft:air"}
										]
									}
								],
								"event":"ev:what_block_is_below_me"
							},
							"swing": true
						},
						// Sneak to move entity up or down... so can test on or in block
						{
							"on_interact": {
								"filters":[
									{
										"all_of":[
											{"test":"is_family","subject":"other","value":"player"},
											{"test": "is_sneaking", "subject": "player", "value": true},
											{"test": "in_block","value": "minecraft:air"}
										]
									}
								],
								"event":"ev:move_down"
							},
							"swing": true
						},
						{
							"on_interact": {
								"filters":[
									{
										"all_of":[
											{"test":"is_family","subject":"other","value":"player"},
											{"test": "is_sneaking", "subject": "player", "value": true},
											{"test": "in_block","operator":"!=","value": "minecraft:air"}
										]
									}
								],
								"event":"ev:move_up"
							},
							"swing": true
						}
					]
				},
				"minecraft:physics":{"has_gravity": true,"has_collision": true},
				//"minecraft:pushable":{"is_pushable":false,"is_pushable_by_piston": false},
				//"minecraft:scale":{"value":0.5},
				"minecraft:health":{"value":100,"max":100},
				"minecraft:type_family":{"family":["crash_test_dummy"]}
			},
			"events":{
				"ev:despawn":{"add":{"component_groups":["cg:despawn"]}},
				"minecraft:entity_spawned":{
					"sequence":[
						{
							"run_command":{"command":["say setting up"]}
						},
						{
							"filters": {"test": "in_block","operator":"!=","value": "minecraft:air"},
							"run_command":{"command":["say I am in a block"]},
							"add":{"component_groups":["cg:rescale_bigger"]},
							"trigger":"ev:where_am_i"
						},
						{
							"filters": {"test": "in_block","value": "minecraft:air"},
							"run_command":{"command":["say I am in air"]},
							"add":{"component_groups":["cg:rescale_smaller"]},
							"trigger":"ev:what_block_is_below_me"
						}
					]
				},
				"ev:move_down":{
					"sequence":[
						{
							"filters": {"test": "in_block","value": "minecraft:air"},
							"run_command":{"command":["say moving down","tp ~ ~-1 ~"]},		
							"add":{"component_groups":["cg:rescale_bigger"]},
							"trigger":"ev:where_am_i"
						}
					]
				},
				"ev:move_up":{
					"sequence":[
						{
							"filters": {"test": "in_block","operator":"!=","value": "minecraft:air"},
							"run_command":{"command":["say moving iup","tp ~ ~1 ~"]},
							"add":{"component_groups":["cg:rescale_smaller"]},
							"trigger":"ev:what_block_is_below_me"
						}
					]
				},
				"ev:where_am_i":{
					"sequence":[
						// Leaves
						{
							"filters":[
								{
									"none_of":[
										{"test":"in_block","value":"minecraft:log"},
										{"test":"in_block","value":"minecraft:log2"},
										{"{{#global_log3}}":{"test": "in_block","value": "minecraft:{{log3_name}}_{{log3_sfx}}"}}
									]
								}
							],
							"trigger":"ev:where_am_i_leaves"
						},
						{
							"filters":[
								{
									"none_of":[
										{"test":"in_block","value":"minecraft:leaves"},
										{"test":"in_block","value":"minecraft:leaves2"},
										{"{{#global_leaves3}}":{"test": "in_block","value": "minecraft:{{log3_name}}_{{leaf3_sfx}}"}},
										{"{{#global_leaves3_alt}}":{"test": "in_block","value": "minecraft:{{alt_give_leaf3}}"}}
									]
								}
							],
							"trigger":"ev:where_am_i_logs"
						}
					]
				},
				"ev:where_am_i_leaves":{
					"sequence":[
						{
							"run_command":{"command":[
								"tellraw @a[r=10] {\"rawtext\": [{\"text\":\"§aIn Leaf Results\"}]}",
								"execute if block ~ ~ ~ minecraft:leaves  run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves\"}]}",
								"execute if block ~ ~ ~ minecraft:leaves2 run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves2\"}]}",
								{
									"{{#true_false}}":{
										"{{#global_log1}}":"execute if block ~ ~ ~ minecraft:leaves [\"old_leaf_type\" = \"{{log1_name}}\", \"persistent_bit\" = false, \"update_bit\" = {{if}}] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves old_leaf_type={{log1_name}} update_bit {{if}}\"}]}"
									}
								},
								{
									"{{#true_false}}":{
										"{{#global_log2}}":"execute if block ~ ~ ~ minecraft:leaves2 [\"new_leaf_type\" = \"{{log2_name}}\", \"persistent_bit\" = false, \"update_bit\" = {{if}}] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves2 new_leaf_type={{log2_name}} update_bit {{if}}\"}]}"
									}
								},
								//{"{{#global_log2}}"  	:"execute if block ~ ~ ~ minecraft:leaves2  [\"new_leaf_type\" = \"{{log2_name}}\"] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves2 new_leaf_type={{log2_name}}\"}]}"},
								{"{{#global_log3.filter(x => x.leaf3_sfx > '')}}"	:"execute if block ~ ~ ~ minecraft:{{log3_name}}_{{leaf3_sfx}} run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:{{log3_name}}_{{leaf3_sfx}}\"}]}"},
								{"{{#global_log3.filter(x => x.alt_give_leaf3 > '')}}":"execute if block ~ ~ ~ minecraft:{{alt_give_leaf3}} run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:{{alt_give_leaf3}}\"}]}"},
								"function crash_test_dummy/in_block_leaf_query"								
							]}
						},
						{
							"filters": {"test":"in_block","value":"minecraft:leaves"},
							"run_command":{"command":["tellraw @a[r=10] {\"rawtext\": [{\"text\":\"filter / in_block minecraft:leaves\"}]}"]}
						},
						{
							"filters": {"test":"in_block","value":"minecraft:leaves2"},
							"run_command":{"command":["tellraw @a[r=10] {\"rawtext\": [{\"text\":\"filter / in_block minecraft:leaves2\"}]}"]}
						}
						/*
						// Leaves setblock and block comparison test
						{
							"{{#global_log1}}":{
								"run_command":{"command":[
									"execute unless blocks ~ ~3 ~  ~ ~3 ~  ~ ~ ~ all run setblock ~ ~3 ~ minecraft:leaves [\"old_leaf_type\" = \"{{log1_name}}\"]",
									"execute if blocks ~ ~3 ~  ~ ~3 ~  ~ ~ ~ all run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"setblock old_leaf_type={{log1_name}} / compare = same block\"}]}",
									"execute unless blocks ~ ~3 ~  ~ ~3 ~  ~ ~ ~ all run setblock ~ ~3 ~ minecraft:pumpkin"
								]}
							}
						},
						{
							"{{#global_log2}}":{
								"run_command":{"command":[
									"execute unless blocks ~ ~3 ~  ~ ~3 ~  ~ ~ ~ all run setblock ~ ~3 ~ minecraft:leaves2 [\"new_leaf_type\" = \"{{log2_name}}\"]",
									"execute if blocks ~ ~3 ~  ~ ~3 ~  ~ ~ ~ all run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"setblock new_leaf_type={{log2_name}} / compare = same block\"}]}",
									"execute unless blocks ~ ~3 ~  ~ ~3 ~  ~ ~ ~ all run setblock ~ ~3 ~ minecraft:pumpkin"
								]}
							}
						}*/
					]
				},
				"ev:where_am_i_logs":{
					"sequence":[						
						{
							"run_command":{"command":[
								"tellraw @a[r=10] {\"rawtext\": [{\"text\":\"§bIn Log Results\"}]}",
								"execute if block ~ ~ ~ minecraft:log  run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log\"}]}",
								"execute if block ~ ~ ~ minecraft:log2 run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log2\"}]}",						
								{"{{#global_log1}}"  	 :"execute if block ~ ~ ~ minecraft:log   [\"old_log_type\" = \"{{log1_name}}\"] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log old_log_type={{log1_name}}\"}]}"},
								{"{{#global_log2}}"  	 :"execute if block ~ ~ ~ minecraft:log2  [\"new_log_type\" = \"{{log2_name}}\"] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log2 new_log_type={{log2_name}}\"}]}"},
								{"{{#global_wood_types}}":"execute if block ~ ~ ~ minecraft:{{wood_name}}_{{log_sfx}} run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:{{wood_name}}_{{log_sfx}}\"}]}"},
								"function crash_test_dummy/in_block_log_query"
							]}
						},
						{
							"filters": {"test":"in_block","value":"minecraft:log"},
							"run_command":{"command":["tellraw @a[r=10] {\"rawtext\": [{\"text\":\"filter / in_block log\"}]}"]}
						},
						{
							"filters": {"test":"in_block","value":"minecraft:log2"},
							"run_command":{"command":["tellraw @a[r=10] {\"rawtext\": [{\"text\":\"filter / in_block log2\"}]}"]}
						}				
					]
				},
				"ev:what_block_is_below_me":{
					"sequence":[
						{
							"run_command":{"command":[
								// Leaf
								"execute unless block ~ ~-1 ~ minecraft:log unless block ~ ~-1 ~ minecraft:log2 run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"§aOn Leaf Results\"}]}",
								"execute if block ~ ~-1 ~ minecraft:leaves  run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves\"}]}",
								"execute if block ~ ~-1 ~ minecraft:leaves2 run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves2\"}]}",
								//{"{{#global_log1}}":"execute if block ~ ~-1 ~ minecraft:leaves [\"old_leaf_type\" = \"{{log1_name}}\"] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves old_leaf_type={{log1_name}}\"}]}"},			
								{
									"{{#leaf_persistent_bit}}":{
										"{{#leaf_update_bit}}":{
											"{{#global_log1}}":"execute if block ~ ~-1 ~ minecraft:leaves [\"old_leaf_type\" = \"{{log1_name}}\", \"persistent_bit\" = {{persistent_bit}}, \"update_bit\" = {{update_bit}}] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves old_leaf_type={{log1_name}} update_bit={{update_bit}} persistent_bit={{persistent_bit}}\"}]}"
										}
									}
								},
								//{"{{#global_log2}}":"execute if block ~ ~-1 ~ minecraft:leaves2 [\"new_leaf_type\" = \"{{log2_name}}\"] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves2 new_leaf_type={{log2_name}}\"}]}"},
								{
									"{{#leaf_persistent_bit}}":{
										"{{#leaf_update_bit}}":{
											"{{#global_log2}}":"execute if block ~ ~-1 ~ minecraft:leaves2 [\"new_leaf_type\" = \"{{log2_name}}\", \"persistent_bit\" = {{persistent_bit}}, \"update_bit\" = {{update_bit}}] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:leaves2 new_leaf_type={{log2_name}} update_bit={{update_bit}} persistent_bit={{persistent_bit}}\"}]}"
										}
									}
								},
								{"{{#global_leaves3}}"	  :"execute if block ~ ~-1 ~ minecraft:{{log3_name}}_{{leaf3_sfx}} run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:{{log3_name}}_{{leaf3_sfx}}\"}]}"},
								{"{{#global_leaves3_alt}}":"execute if block ~ ~-1 ~ minecraft:{{alt_give_leaf3}} run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:{{alt_give_leaf3}}\"}]}"},
								"function crash_test_dummy/on_block_leaf_query"
								//run function here for same as above								
							]}
						},
						{
							"run_command":{"command":[
								// Log
								"execute unless block ~ ~-1 ~ minecraft:leaves unless block ~ ~-1 ~ minecraft:leaves2 run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"§bOn Log Results\"}]}",
								"execute if block ~ ~-1 ~ minecraft:log  run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log\"}]}",
								"execute if block ~ ~-1 ~ minecraft:log2 run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log2\"}]}",						
								{"{{#global_log1}}"  	 :"execute if block ~ ~-1 ~ minecraft:log [\"old_log_type\" = \"{{log1_name}}\"] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log old_log_type={{log1_name}}\"}]}"},
								{"{{#global_log2}}"  	 :"execute if block ~ ~-1 ~ minecraft:log2 [\"new_log_type\" = \"{{log2_name}}\"] run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:log2 new_log_type={{log2_name}}\"}]}"},
								{"{{#global_wood_types}}":"execute if block ~ ~-1 ~ minecraft:{{wood_name}}_{{log_sfx}} run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"run_command / minecraft:{{wood_name}}_{{log_sfx}}\"}]}"},
								"function crash_test_dummy/on_block_log_query"
								
							]}
						}
						/*
						// Leaves setblock and block comparison test
						{
							"{{#global_log1}}":{
								"run_command":{"command":[
									//"execute unless blocks ~ ~5 ~  ~ ~5 ~  ~ ~-1 ~ all run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"setting {{log1_name}} 5 blocks up to compare to\"}]}",
									"execute unless blocks ~ ~5 ~  ~ ~5 ~  ~ ~-1 ~ all run setblock ~ ~5 ~ minecraft:leaves [\"old_leaf_type\" = \"{{log1_name}}\"]",
									"execute if blocks ~ ~5 ~  ~ ~5 ~  ~ ~-1 ~ all run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"setblock leaf_log_type={{log1_name}} / compare = same block\"}]}"
									//,"execute if block ~ ~5 ~ minecraft:leaves run setblock ~ ~5 ~ minecraft:melon_block"
								]}
							}
						},
						{
							"{{#global_log2}}":{
								"run_command":{"command":[
									//"execute unless blocks ~ ~5 ~  ~ ~5 ~  ~ ~-1 ~ all run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"setting {{log2_name}} 5 blocks up to compare to\"}]}",
									"execute unless blocks ~ ~5 ~  ~ ~5 ~  ~ ~-1 ~ all run setblock ~ ~5 ~ minecraft:leaves2 [\"new_leaf_type\" = \"{{log2_name}}\"]",
									"execute if blocks ~ ~5 ~  ~ ~5 ~  ~ ~-1 ~ all run tellraw @a[r=10] {\"rawtext\": [{\"text\":\"setblock new_log_type={{log2_name}} / compare = same block\"}]}"
									//,"execute if block ~ ~5 ~ minecraft:leaves2 run setblock ~ ~5 ~ minecraft:melon_block"
								]}
							}
						}*/
					]
				}
			}
		}
	}
}
