{	
  "$copy": "{{getLatestRPFile('render_controllers/chicken.render_controllers.json')}}",
	"$template": {
    "render_controllers": {
      "controller.render.chicken": {
        "$textures": ["Array.textures[query.skin_id]"],
        "$arrays": {"textures":{"Array.textures":[{"{{#chicken_colors}}":"Texture.{{color}}_chicken"}]}}
      }
    }
  }
}
