{
   "$template":
   {
      "resource_pack_name" : "{{settings.ns}}",
      "texture_name" : "atlas.items",
      "texture_data" : {  
         "c4_stick": {"textures":"textures/items/{{settings.addon}}/c4_stick"},
         "{{settings.main_bot}}_stick": {"textures":"textures/items/{{settings.addon}}/{{settings.main_bot}}_stick"}
         
      }
   }
}