{
  "$scope":{
		"local_from_to_list": "{{from_to.filter(x => x.from_stairs_id >= 0 && x.to_wall_id >= 0)}}"
  },
  "$files": {
    "array": "local_from_to_list",
    "fileName": "./walls/cut_{{length(abbr) > 0 ? abbr : name}}_{{to}}_from_{{from}}_stairs"
    
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {
        "identifier": "dw623:cut_{{name}}_{{to}}_wall_from_{{from}}_stairs"
      },
      "tags": [
        "stonecutter"
      ],     
      "ingredients": [
        {
          "item": "minecraft:{{from_stairs_input}}",
          "data": "{{=from_stairs_id}}"
        }
      ],
      "result": {
        "item": "minecraft:{{to_wall_input}}",
        "data": "{{=to_wall_id}}",
        "count": 1
      }
    }
  }
}