{
  "$files": {
    "array": "wood_types",
    "fileName": "./ladders/from_sign_{{type}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {"identifier":"dw623:cut_{{type}}_ladders_from_sign"},
      "tags": ["stonecutter"],
      "priority": 0,
      "ingredients": [
        {
          "item": "minecraft:{{type}}_sign"
        }
      ],
      "result": {
        "item": "minecraft:ladder",
        "count": 1
      }
    }
  }
}