{
  "$files": {
    "array": "woods",
    "fileName": "./pressure_plates/from_stairs_{{value}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {"identifier":"cut:{{value}}_pressure_plates_from_stairs"},
      "tags": ["stonecutter"],
      "priority": 0,
      "ingredients": [{"item":"minecraft:{{value}}_stairs"}],
      "result": {
        "item": "minecraft:{{value}}_pressure_plate",
        "count": 4
      }
    }
  }
}