{
  "$files": {
    "array": "wood_types",
    "fileName": "./signs/from_slab_{{type}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {"identifier":"dw623:cut_{{type}}_signs_from_slab"},
      "tags": ["stonecutter"],
      "priority": 0,
      "ingredients": [
        {
          "item": "minecraft:{{type}}_slab"
        }
      ],
      "result": {
        "item": "minecraft:{{type}}_sign",
        "count": 7
      }
    }
  }
}