{
	"$template":{
		"$format_version": "{{settings.item_version}}",
		"minecraft:item": {
			"description": {
				"identifier": "dw623:copper_wire",
				"category": "items"
			},
			"components": {		
				"minecraft:display_name": {"value": "Copper Wire"},
				"minecraft:icon": {"texture": "copper_wire"},
				"minecraft:max_stack_size": 64
			}
		}
	}
}