{
	"$template":{
    "format_version": "1.12.0",
    "minecraft:recipe_shaped": {
      "description": {"identifier":"dw623:copper_wire"},
      "tags": ["crafting_table"],
      "pattern": ["ccc"],
      "key": {"c":{"item": "dw623:copper_nugget"}},
      "result": {"item":"dw623:copper_wire","count":3}
    }
  }
}