{
  "$files": {
    "array": "charcoal_nuggets",
    "fileName": "charcoal_nuggets_from_{{input}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_furnace": {
      "description": {
        "identifier": "dw623:charcoal_nuggets_from_{{input}}"
      },
      "tags": [
        "blast_furnace"
      ],
      "input": "minecraft:{{input}}",
      "output": "dw623:charcoal_nugget"
    }
  }
}