{
  "$copy": "{{getLatestBPFile('entities/wither_skull_dangerous.json')}}",
  "$template": {
    "minecraft:entity": {
      "component_groups": {
        "minecraft:exploding": {"minecraft:explode":{"power":8}}
      }
    }
  }
}