{	
  "$copy": "{{getLatestRPFile('entity/goat.entity.json')}}",
	"$template": {
    "minecraft:client_entity": {
      "description": {
        "$textures": {
          "{{#goat_colors}}": {
            "{{color}}_goat": "textures/entity/goat/goat_{{color}}"
          }
        }
      }
    }
  }
}