{
  "$files": {
    "array": "log_list",
    "fileName": "./chest/from_{{type}}_{{log}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {"identifier":"dw623:cut_chest_from_{{type}}_{{log}}"},
      "tags": ["stonecutter"],
      "priority": 0,
      "ingredients": [
        {
          "item": "minecraft:{{type+'_'+log}}"
        }
      ],
      "result": {
        "item": "minecraft:chest",
        "count": 1
      }
    }
  }
}