{
  "$files": {
    "array": "blast_furnace",
    "fileName": "./{{folder}}/{{output}}_from_{{input}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_furnace": {
      "description": {
        "identifier": "dw623:blast_{{output}}_from_{{input}}"
      },
      "tags": [
        "blast_furnace"
      ],
      "input": "minecraft:{{input}}",
      "output": "minecraft:{{output}}"
    }
  }
}