{
  "$files": {
    "array":"wood_types.filter(x => x.has_boat == 1)",
    "fileName":"./boats/from_{{type}}_chest_boat"
  },
  "$template":{
    "format_version": "1.12.0",
    "minecraft:recipe_furnace": {
      "description": {"identifier":"dw623:furnace_charcoal_from_{{type}}_chest_boat"},        
      "tags": ["furnace","blast_furnace"],
      "input":"minecraft:{{use_data_id == 0 ? type+'_chest_boat' : 'chest_boat:'+id}}",
      "output": "minecraft:coal:1"      
    }
  }
}