{
  "$copy": "{{getLatestRPFile('entity/wolf.entity.json')}}",
  "$template": {
    "minecraft:client_entity": {
      "description": {
        "$textures": {
          "{{#wolf_colors}}": {
            "{{color}}_wolf_angry": "textures/entity/wolf/wolf_{{color}}_angry",
            "{{color}}_wolf_default": "textures/entity/wolf/wolf_{{color}}",
            "{{color}}_wolf_tame": "textures/entity/wolf/wolf_{{color}}_tame"
          }
        }
      }
    }  
  }
}