{
	"$template":{
		"$format_version": "{{settings.item_version}}",
		"minecraft:item": {
			"description": {
				"identifier": "dw623:sticky_string",
				"category": "items"
			},
			"components": {		
				"minecraft:display_name": {"value": "Sticky String"},
				"minecraft:icon": {"texture": "sticky_string"},
				"minecraft:max_stack_size": 64
			}
		}
	}
}