{
	"$template":{
		"format_version": "1.20.10",
		"minecraft:item": {
			"description": {
				"identifier": "ctd:wand_test_minion",
				"category": "Equipment"
			},
			"components": {				
				"minecraft:display_name": {"value":"Test Minion Placer"},
				//"minecraft:entity_placer": {				"entity": "ctd:test_minion"			},
				"minecraft:icon": {"texture":"blaze_rod"},
				"minecraft:max_stack_size": 1,
				"minecraft:on_use_on": {"on_use_on":{"event":"ev:on_use_on_right_click"}}
			},
			"events": {					
				"ev:on_use_on_right_click": {
					"sequence": [	
						{
							"run_command": {"command":["summon ctd:test_minion.50 ~ ~ ~ 0 0 minecraft:entity_spawned ctd"]}
						}
					]
				}
			}
		}
	}
}	