{    
    /*
        Geo is duplex on long edge... so same top on front and back
    */
    "$scope":{
		"angles": "{{degrees.map(a => { x_id: a.x/90,y_id: a.y/90,z_id: a.z/90, rotation:[a.x,a.y,a.z] }) }}"
    },    
    "$template":{
        "format_version": "1.20.80",
        "minecraft:block": {
            "description": {
                "identifier": "dw623:rotation_angle_tile",
                "menu_category": {"category":"items","is_hidden_in_commands":false},
                "states": {
                    "int:x_id":{"values":{"min":0,"max":3}},
                    "int:y_id":{"values":{"min":0,"max":3}},
                    "int:z_id":{"values":{"min":0,"max":3}}
                }
            },
            "components": {
                "minecraft:custom_components": ["dw623:rotation_angles_components"],
                "minecraft:display_name":"Rotation Angle Tile",
                "minecraft:light_emission":10,                                            
                "minecraft:material_instances": {"*":{"texture":"test_block","render_method":"opaque"}},
                "minecraft:geometry": {"identifier":"geometry.tile_floor_double_sided"},
                "minecraft:collision_box": {"origin": [-8,0,-8],"size": [16,1,16]},
                "minecraft:selection_box": {"origin": [-8,0,-8],"size": [16,1,16]}
            },    
            "permutations": [
                {
                    "{{#angles}}":{
                        "condition": "q.block_state('int:x_id') == {{x_id}} && q.block_state('int:y_id') == {{y_id}} && q.block_state('int:z_id') == {{z_id}}",
                        "components": {"minecraft:transformation":{"rotation": "{{rotation}}"}}
                    }                    
                }
            ]
        }
    }
}