{
  "$files": {
    "array": "stone_items",
    "fileName": "./{{folder}}/{{abbr_out == '' ? output : abbr_out}}_from_{{abbr_in == '' ? input : abbr_in}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {
        "identifier":"dw623:cut_{{abbr_out == '' ? output : abbr_out}}_from_{{abbr_in == '' ? input : abbr_in}}"
      },
      "tags": [
        "stonecutter"
      ],
      "ingredients": [
        {
          "item": "minecraft:{{input}}",
          "data": "{{=input_id}}"
        }
      ],
      "result": {
        "item": "minecraft:{{output}}",
        "data": "{{=output_id}}",
        "count": "{{=out_count}}"
      }
    }
  }
}