{	
  "$copy": "{{getLatestRPFile('render_controllers/cow.render_controllers.json')}}",
	"$template": {
    "render_controllers": {
      "controller.render.cow": {
        "$textures": ["Array.textures[query.skin_id]"],
        "$arrays": {"textures":{"Array.textures":[{"{{#cow_colors}}":"Texture.{{color}}_cow"}]}}
      }
    }
  }
}
