
{
  "$copy": "{{getLatestBPFile('entities/player.json')}}",
  "$extend": [   
    "player.mining"    
  ],  
  "$template": {
    "minecraft:entity": {
      "description": {"scripts":{},"animations":{}},
      "events":{},           
      "components": {   
        "minecraft:type_family": {"family":["dw623_player"]}              
      }
    }
  }
}