{
	"$copy": "{{getLatestBPFile('entities/wandering_trader.json')}}",
	"$template": {
    "minecraft:entity": {
      "component_groups": {
      },
      "components": {
        "minecraft:health": {
          "value": 100,
          "max": 100
        }   
      },
      "events": {  
      }
    }
  }
}