{
  "$files": {
    "array": "0..0",
    "fileName": "./misc/anvil_from_iron_block_anvil.recipe"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_furnace": {
      "description": {
        "identifier": "dw623:anvil_from_iron_block_anvil"
      },
      "tags": [       
        "blast_furnace"
      ],
      "input": "dw623:iron_block_anvil",
      "output": "minecraft:anvil"
    }
  }
}