{
  "$files": {
    "array": "anvil_from",
    "fileName": "cook_anvil_from_{{input}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_furnace": {
      "description": {
        "identifier": "dw623:anvil_from_{{input}}_anvil"
      },
      "tags": [
        "blast_furnace"
      ],
      "input": "dw623:{{input}}_anvil",
      "output": "minecraft:anvil"
    }
  }
}