{
  "$files": {
    "array": "campfire",
    "fileName": "{{output}}_campfire"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_furnace": {
      "description": {
        "identifier": "dw623:campfire_{{output}}_from_{{input}}"
      },
      "tags": [
        "campfire","smoker"
      ],
      "input": "minecraft:{{input}}",
      "output": "dw623:{{output}}"
    }
  }
}