{
  "$files": {
    "array": "sifter_types",
    "fileName": "{{material}}_net.recipe"
  },
  "$template": {
    "format_version": "1.20.10",
    "minecraft:recipe_shapeless": {
      "description": {
        "identifier": "dw623:{{material}}_net_recipe"
      },
      "tags": ["stonecutter"],
      "ingredients": [{"item":"minecraft:{{recipe_item}}"}],
      "unlock": [{"item":"minecraft:{{recipe_item}}"}],
      "result": {"item":"dw623:{{material}}_net","count":1}
    }
  }
}