{
  "$files": {
    "array": "wood_types",
    "fileName": "./buttons/from_stairs_{{type}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {"identifier":"dw623:cut_{{type}}_buttons_from_stairs"},
      "tags": ["stonecutter"],
      "priority": 0,
      "ingredients": [
        {
          "item": "minecraft:{{type}}_stairs"
        }
      ],
      "result": {        
        "item": "minecraft:{{type == 'oak' ? 'wooden' : type}}_button",
        "count": 36
      }
    }
  }
}