{
  "$files": {
    "array": "wood_types",
    "fileName": "./paper/from_slab_{{type}}"
  },
  "$template": {
    "format_version": "1.12.0",
    "minecraft:recipe_shapeless": {
      "description": {
        "identifier": "dw623:paper_from_{{type}}_slab"
      },
      "tags": ["stonecutter"],
      "priority": 0,      
      "ingredients": [
        {
          //"item": "minecraft:{{slab > '' ? slab : type+'_slab'}}","data": "{{slab > '' ? id : 0}}"
          "item": "minecraft:{{type}}_slab"
        }
      ],
      "result": {
        "item": "minecraft:paper",
        "count": 16
      }
    }
  }
}